body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picture {
    width: 150px;
}

.card {
    width: 400px;
    margin:0 auto ;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 202, 210);
    border-bottom: 1rem solid rgb(252, 68, 99);
    color: #2b2839;
    text-align: center;
}
